body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bgc.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: -1; /* Ensure the overlay is behind the content */
}
/* General styles for the form container */
.form-container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gender-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.gender-container label {
    margin-right: 16px; /* Adjust spacing between radio options */
}

/* You might want to specifically target the first label if it's for the section title */
.gender-container > label:first-child {
    margin-right: auto; /* Pushes the radio buttons to the right */
}

/* Style for form headings */
h2 {
    color: rgb(200, 200, 200);
    margin-bottom: 15px;
}

/* Style for form controls */
.form-control {
    margin-bottom: 15px;
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 5px;
    color: rgb(200, 200, 200);
    font-weight: bold;
}

/* Style for input fields, select, and textarea */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px; /* Increased border-radius */
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style for radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Style for the submit button */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Increased border-radius */
    background-color: #166516; /* Example primary color */
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #25cd25; /* Darker shade on hover */
}

/* Additional styles for the success checkmark */
.checkmark {
    font-size: 2em;
    margin-right: 5px;
}

.success-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.599);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Make sure this is above the loading screen if they could overlap */
    color: #28a745; /* Bootstrap's success green or any color you prefer */
}

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.59);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Make sure this is above the loading screen if they could overlap */
    color: #ff0000; /* Bootstrap's success green or any color you prefer */
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to be on top of other content */
}

.loading-icon {
    border: 5px solid #f3f3f3; /* Light grey background */
    border-top: 5px solid #3498db; /* Blue color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}